<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Different Plant Species Classification</title>
    <!--

-->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.jpg">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/fontAwesome.css">
    <link rel="stylesheet" href="static/css/light-box.css">
    <link rel="stylesheet" href="static/css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>

    <nav>
        <div class="logo">
            <a href="index.html">Deep Learning</a>
        </div>
        <div class="menu-icon">
            <span></span>
        </div>
    </nav>

    <!-- <div class="page-heading">
        <div class="container">
            <div class="heading-content">
                <h1>Login</h1>
            </div>
        </div>
    </div> -->



    <div class="more-about-us">
        <div class="container">
            <div class="col-md-5 col-md-offset-7">
                <div class="content">
                    <center>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" />
                            </div>
                            <a href="/userhome" class="btn btn-primary">Login</a>
                            <div class="form-group mt-3">
                                <label for="exampleInputPassword1">Don't have an account?</label>
                                <a href="/register">Register</a>
                            </div>
                        </form>
                    </center>
                    <div class="simple-btn">
                        <!--                        <a href="#">Continue Reading</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="overlay-menu">
        <div class="container">
            <div class="row">
                <div class="main-menu">
                    <ul>

                        <li>
                            <a href="{{url_for('index')}}">Home</a>
                        </li>
                        <li>
                            <a href="{{url_for('about')}}">About Us</a>
                        </li>
                        <li>
                            <a href="{{url_for('register')}}">Registration</a>
                        </li>
                        <li>
                            <a href="{{url_for('login')}}">Login</a>
                        </li>
                        <li>
                            <a href="{{url_for('userhome')}}">Userhome</a>
                        </li>
                        <li>
                            <a href="{{url_for('upload')}}">Upload Images</a>
                        </li>
                        <li>
                            <a href="{{url_for('prediction')}}">LIVE PREDICTION</a>
                        </li>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="static/js/vendor/bootstrap.min.js"></script>

    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>